[submodule "aws-c-common-pkg/aws-c-common"]
	path = aws-c-common-pkg/aws-c-common
	url = https://github.com/awslabs/aws-c-common
[submodule "aws-checksums-pkg/aws-checksums"]
	path = aws-checksums-pkg/aws-checksums
	url = https://github.com/awslabs/aws-checksums
[submodule "aws-c-event-stream-pkg/aws-c-event-stream"]
	path = aws-c-event-stream-pkg/aws-c-event-stream
	url = https://github.com/awslabs/aws-c-event-stream.git
[submodule "aws-sdk-cpp-pkg/aws-sdk-cpp"]
	path = aws-sdk-cpp-pkg/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
